.Counter {
    width: 50%;
    max-width: 300px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
}

.CounterElement {
    width: 100%;
    height: 25%;
}

.Checkbox {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
}