.Counter {
    width: 50%;
    max-width: 300px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    background: url("/cornhole-board-image.png") no-repeat;
    background-size: 105% 105%;
    background-position-x: 50%;
    border: solid 1px;
    border-radius: 20px;
}

.CounterElement {
    width: 100%;
    height: 25%;
}

.Checkbox {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
}