.Main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Info {
    width: 100%;
    display: flex;
    height: 50px;
    align-items: center;
}

.Info div {
    width: 50%;
}

.CounterContainer {
    width: 90%;
    height: 60%;
    max-width: 400px;
    max-height: 800px;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    background: url("/cornhole-board-image.png") no-repeat;
    background-size: 105% 105%;
    background-position-x: 50%;
    border-radius: 20px;
    box-shadow: 8px 10px 5px black;
}

.BottomDiv {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.RoundButtonDiv button {
    height: 50%;
}